
* {
    margin: 0;
    padding: 0;
}

#base {
    width:400px;
    align-content:center;
    margin: 0 auto;
    border: 2px solid #385d81;
}

    #base #inputform {
        margin: 20px;
    }

.nameBar, .mailBar, .pwBar, .pwChkBar {
    outline-color: blue;
    border: 2px solid #385d81;
    width: 200px;
    height: 30px;
    margin: 5px 0;
}

.btn {
    padding: 10px 10px;
    margin: 5px;
    background-color: #385d81;
    width: 80px;
    border-radius: 5px;
    font-size: 13px;
    color: white;
}
